affine
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
attrs
backcall
beautifulsoup4
bitstring
bleach
bpyutils
branca
Brotli
certifi
cffi
chardet
charset-normalizer
click
click-plugins
cligj
cloudscraper
colorama
colorclass
coloredlogs
comm
ConfigArgParse
contourpy
cryptography
cycler
Cython
debugpy
decorator
defusedxml
docopt
docutils
executing
fastjsonschema
Fiona==1.8.22 # https://github.com/perrygeo/python-rasterstats/issues/281
folium
fonttools
fqdn
future
geographiclib
geojson
geopandas
geopy
HeapDict
humanfriendly
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
iso8601
isoduration
jaraco.classes
jedi
Jinja2
joblib
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
keyring
kiwisolver
libpysal
lxml
m3u8
MarkupSafe
matplotlib
matplotlib-inline
mistune
more-itertools
mpegdash
munch
mutagen
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
packaging
pandas
pandocfilters
parso
pathvalidate
patsy
pexpect
pickleshare
Pillow
pip-check
pipupgrade
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pycparser
pycryptodomex
pygeos
Pygments
pyOpenSSL
pyparsing
pyproj
pyrsistent
pysrt
python-dateutil
python-dotenv
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
rasterio
rasterstats
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
ruamel.yaml
scipy
Send2Trash
shapely
simplejson
six
sniffio
snuggs
soupsieve
stack-data
statsmodels
tblib
terminado
terminaltables
testpath
texttable
threadpoolctl
tifffile
tinycss2
tobler
toml
tomli
toolz
tornado
tqdm
traitlets
traittypes
typing_extensions
Unidecode
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
websockets
webvtt-py
widgetsnbextension
xlrd
xyzservices
yt-dlp
zict
zipp
